<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="images/icon.png"/>
    <link rel="stylesheet" type="text/css" href="timeline.css"></link>
    <link href="css/dycalendar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="font-awesome/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  
</head>
<body>

  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  
      <div class="navi"></div>
      <a class="active" href="Dashboard.html"><i class="fa fa-home" aria-hidden="true"></i>&nbsp; Dashboard</a>
      <div class="accordion"><i class="fa fa-files-o" aria-hidden="true"></i> Records <i class="fa fa-caret-down" style="float: right; padding-right: 90px;" aria-hidden="true"></i></div>
          <div class="drpnav">
          <a href="Record.html"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp; Case</a>
          <a href="#"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp; Patient</a>
          <a href="#"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp; Infant</a>
          </div>
      <a href="#"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp; Inventory</a>
  </div>

<div class="header">
    <span onclick="openNav()"><i class="fa fa-bars manage" aria-hidden="true"></i></span> DASHBOARD
    <a class="log"><i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT</a>
</div>

<section id="main-content">

</head>
<body>
  <section class="main-content">
  <form class="sea-a">
  <input class="sea" type="text" name="search" placeholder="Search..">
  </form>

<div class="timeline">
  <div class="container left">
    <div class="content">
      <h4>Profile</h4> 
      <div id="outer">
        <div class="inner""><button class="teal-l btn-t" type="submit">Add Case</button></div>
        <div class="inner""><button class="teal-l btn-t" type="submit">Edit</button></div>
        <div class="inner"><button class="teal-l btn-t" >Delete</button></div>
      </div>
      <table class="time-s">
        <tr>
        <td><input class="ans-p" type="text" name="surname" placeholder="Surname"></td>
        <td><input class="ans-p" name="given_name" placeholder="Given Name"></td>
        <td><input class="ans-p" name="middle_initial" placeholder="Middle Initial"></td>
        </tr>
        <tr>
        <td><input class="ans-p" type="text" name="surname" placeholder="Surname"></td>
        <td><input class="ans-p" name="given_name" placeholder="Given Name"></td>
        <td><input class="ans-p" name="middle_initial" placeholder="Middle Initial"></td>
        </tr>
        <tr>
        <tr>
        <td><input class="ans-p" type="text" name="surname" placeholder="Surname"></td>
        <td><input class="ans-p" name="given_name" placeholder="Given Name"></td>
        <td><input class="ans-p" name="middle_initial" placeholder="Middle Initial"></td>
        </tr>
        <tr>
    </table>
    <h4>In case of emergency</h4>
          <table class="time-s">
        <tr>
        <td><input class="ans-p" type="text" name="surname" placeholder="Surname"></td>
        <td><input class="ans-p" name="given_name" placeholder="Given Name"></td>
        <td><input class="ans-p" name="middle_initial" placeholder="Middle Initial"></td>
        </tr>
      </table>

    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>Case #</h2>
      <br>
      White iverson
      <p></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2012</h2>
      <p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2007</h2>
      <p></p>
    </div>
  </div>
</div>

</section>
           
        <script src="js/script.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/dycalendar-jquery.min.js"></script>
        <script src="js/default.js"></script>


</body>
</html> 
